<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid60" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="monoandroid60" />
  <package id="System.Collections" version="4.0.11" targetFramework="monoandroid60" />
  <package id="System.Diagnostics.Tracing" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Globalization" version="4.0.11" targetFramework="monoandroid60" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="monoandroid60" />
  <package id="System.Runtime" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.Handles" version="4.0.1" targetFramework="monoandroid60" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Threading" version="4.0.11" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="monoandroid60" />
</packages>